html, body {
	height: 100%;
	font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
	color: #3aa9e0;
}

h2 {
	color: #ea4958;
}

a:link {
	color: #2d69af;
	cursor: pointer;
	font-weight: bold;
}

hr {
	color: #999999;
}