html, body {
	font-family: 'PT Sans Narrow', sans-serif;
}

#content {
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	padding: 2;
}

h1 {
	color: #3aa9e0;
}

h2 {
	color: #ea4958;
}

a:link, a:visited {
	color: #2d69af;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

hr {
	color: #999999;
}